/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4F649C;
  --secondary-color: #8F93AF;
  --accent-color: #C4BEAA;
  --shadow-color: #DEEADC;
  --bold-color: #E4BD75;
}
